<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <h1>My Site</h1>
        <a href="{% url 'index' %}">Главная</a> /
        {% if user.is_authenticate %}
            <a href="{% url 'logout' %}">Выход</a>
        {% else %}
            <a href="{% url 'signup' %}">Регистрация</a> /
            <a href="{% url 'login' %}">Вход</a> /
        {% endif %}
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>
